@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #0f0f14;
  color: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
}


.container-responsive {
  @apply px-4 md:px-6 max-w-6xl mx-auto;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

/* smooth hover feel */
button,
a {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===== FORCE DARK APP BASE ===== */

body {
  background-color: #0b0b0f;
  color: #e5e7eb;
}

/* cards */
.card-dark {
  background: #111217;
  border: 1px solid #27272a;
  border-radius: 16px;
}

/* inputs */
.input-dark {
  background: #111217;
  border: 1px solid #27272a;
  color: #e5e7eb;
}

/* hover */
.hover-dark:hover {
  background: #18181b;
}
